body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #ffa500; /* Naranja */
}

p {
    margin-bottom: 10px;
}

#formulario {
    margin-bottom: 20px;
}

#formulario label {
    font-weight: bold;
    margin-right: 10px;
}

#formulario input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario button, #carrito button {
    padding: 5px 10px;
    background-color: #ffa500; /* Naranja */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario button:hover, #carrito button:hover {
    background-color: #ff8c00; /* Naranja oscuro */
}

#carrito {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#carrito h2 {
    color: #ffa500; /* Naranja */
}

#listaProductos {
    list-style: none;
    padding: 0;
}

#listaProductos li {
    margin-bottom: 5px;
}

#total {
    font-weight: bold;
    margin-top: 10px;
}
